nav{
	margin-top: 0px;
	}
	.templatemo-create-account{
							    background-color: #fff;
					    		border: none;
					    		max-width: 850px;
					    		max-height: 1190px;
					    		text-align: left;
						}
	.templatemo-container{
							    border-radius: 8px;
					   			 margin: 0 auto;
					    		padding: 30px;
						}