.templatemo-create-account{
							    background-color: #fff;
					    		border: none;
					    		max-width: 850px;
					    		max-height: 1190px;
					    		text-align: left;
						}
						.templatemo-container{
							    border-radius: 8px;
					   			 margin: 0 auto;
					    		padding: 30px;
						}
						.templatemo-bg-gray{
							    background-color: #eee;
						}
						h1{
							    color: rgb(74, 164, 180);

						}
						
						.btn-file{
							width: 300px;
						}

	
nav{
	
	background-color: rgb(66, 206, 244);

	}
	
